.advantages__article {
  margin: 0;
  padding: 33px 18px 40px 18px;
  display: flex;
  flex-direction: column;
  color: $blackText;

  @media (max-width: $mobile-width) {
    min-height: 227px;
  }

  @media (min-width: $tablet-width) {
    padding: 55px 33px 28px 33px;
    max-width: 256px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px 51px;
    max-width: 400px;
  }
}

.advantages__article--mobile {
  @media (max-width: $mobile-width) {
    min-height: 191px;
    padding: 33px 0 0 0;
  }
}

.advantages__article.advantages__article--bg-blue {
  background-color: $blue;
  color: $white;

  .advantages__title {
    color: $white;
  }
}

.advantages__article--triangle {
  @media (max-width: $mobile-width) {
    background-image: url("../img/logo/triangle.svg");
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    background-size: contain;
    padding-top: 15%;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 22px 0 13px 0;
  padding: 0;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 0 20px 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 75px 10px;
  }
}

.advantages__title--mobail {
  @media (max-width: $mobile-width) {
    margin: 6px 0 10px 0;
  }
}

.advantages__benefits-number {
  margin: 0 0 13px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 25px 0;
  }
}

.advantages__benefits-number--bg-grey {
  display: inline-block;
  margin: 0 0 11px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 21px 0;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    margin: 0 12px;
  }
}

.advantages__text--two {
  @media (min-width: $desktop-width) {
    margin: 0 33px;
  }
}

.advantages__text--four {
  @media (min-width: $tablet-width) {
    margin: 0 33px 0 33px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 10px 0 10px;
  }
}

.advantages__services {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.advantages__block {
  color: $blackText;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;

    &--reverse {
      flex-direction: row-reverse;
    }

    &--triple {
      display: grid;
      grid-template-columns: repeat(3, auto);
    }
  }
}

.advantages__block--bg-grey {
  background-color: $gray;

  @media (max-width: $mobile-width) {
    padding: 1px 33px 28px;
    min-height: 165px;
  }

  @media (min-width: $tablet-width) {
    min-height: 256px;
    padding: 41px 33px 47px 20px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 52px;
  }
}

.advantages__block--line {
  @media (max-width: $mobile-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: calc(100% - 40px);
      top: 0;
      left: 20px;
      right: 20px;
      bottom: 0;
      background-color: #d6d6d6;
    }
  }
}
