.advantages__article {
  margin: 0;
  padding: 35px 20px;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width) {
    max-height: 211px;
  }

  &--bg-blue {
    background-color: $blue;
    color: $white;
  }

  @media (min-width: $tablet-width) {
    padding: 52px 33px 31px;
    max-width: 256px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px 51px;
    max-width: 400px;
  }
}

.advantages__article--mobail {
  @media (max-width: $mobile-width) {
    max-height: 191px;
  }
}

.advantages__article--triangle {
  @media (max-width: $mobile-width) {
    background-image: url("../img/logo/triangle.svg");
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    background-size: contain;
    padding-top: 15%;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 20px 0 12px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 0 20px 15px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 75px 15px;
  }
}

.advantages__title--mobail {
  @media (max-width: $mobile-width) {
    margin: 20px 0 0 0;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 21px;
  margin: 10px 0 0 0;
  padding: 0;

  &--mod {
    margin: 10px 15px;
  }
}

.advantages__benefits-number {
  margin: 0 0 10px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px 0;
  }
}

.advantages__services {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.advantages__block {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;

    &--reverse {
      flex-direction: row-reverse;
    }

    &--triple {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.advantages__block--bg-grey {
  background-color: $gray;
  padding: 24px 20px;
  max-height: 165px;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    padding: 41px 30px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px;
  }
}

.advantages__block--line {
  @media (max-width: $mobile-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: calc(100% - 40px);
      top: 0;
      left: 20px;
      right: 20px;
      bottom: 0;
      background-color: #d6d6d6;
    }
  }
}
