.button {
  @media (min-width: $tablet-width) {
    text-align: start;
  }
}

.button__control {
  font-family: $font;
  border: none;
  background-color: $blue;
  color: $white;
  padding: 15px 40px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    padding: 15px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 100px;
    margin: 0 0 0 98px;
  }
}

.button__field {
  color: $blackText;
  font-size: 12px;
  line-height: 21px;
  text-align: end;

  @media (max-width: $mobile-width) {
    margin: 3px 0 0 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    margin: -33px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: -30px 96px 0 0;
  }
}

.button__control:hover {
  background-color: #669ec0;
  cursor: pointer;
}

.button__control:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button__control:disabled {
  background-color: #e5e5e5;
  cursor: none;
}
