.button__control {
  font-family: $font;
  border: none;
  background-color: $blue;
  color: $white;
  padding: 15px 50px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    padding: 15px 70px;
  }

  @media (min-width: $desktop-width) {
    left: 95px;
    top: -8px;
    padding: 15px 100px;
  }
}

.button__field {
  color: $blackText;
  font-size: 12px;
  line-height: 21px;
  text-align: end;

  @media (max-width: $mobile-width) {
    margin: 7px 0 0 0;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    top: 7px;
  }

  @media (min-width: $desktop-width) {
    right: 100px;
    top: 0;
  }
}

.form__button {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
  }
}

.button__control:hover {
  background-color: #669ec0;
  cursor: pointer;
}

.button__control:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button__control:disabled {
  background-color: #e5e5e5;
  cursor: none;
}
