.checkbox {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-bottom: 10px;
  height: 46px;
}

.checkbox__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  margin-left: 60px;
}

.checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__text::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  bottom: -10px;
  left: 0;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #f2f2f2;
}

:checked + .checkbox__text::after {
  position: absolute;
  content: "";
  bottom: 10px;
  left: 12px;
  width: 22px;
  height: 12px;
  border: solid #333333;
  border-width: 0 0 3px 3px;
  transform: rotate(-45deg);
}

.checkbox__text:hover {
  &::before {
    background-color: #e5e5e5;
  }
}

.checkbox__text:active {
  &::before {
    background-color: #d5d5d5;
  }

  &::after {
    border: solid rgba(51, 51, 51, 0.3);
    border-width: 0 0 3px 3px;
  }
}
