.footer__social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 5px;
}

.footer__block {
  @media (max-width: $mobile-width) {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 20px 0;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000000;
  width: 130px;

  @media (max-width: $mobile-width) {
    padding: 25px 0 35px 0;
  }
}

.footer__copyright:hover {
  color: $blue;
  fill: $blue;
}

.footer__copyright:active {
  color: #b3b3b3;
  fill: #b3b3b3;
}

.footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 25px 0 30px 0;
}
