.fieldset {
  margin: 0;
  border: none;
}

.fieldset__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}

.form__text,
.form__info,
.form__radio,
.form__checkbox,
.form__textarea,
.form__button {
  padding: 0 40px;
  margin-bottom: 60px;
}
