.form {
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 75px;
  }
}

.form__fieldset-text {
  padding: 0 0 48px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.form__fieldset--info {
  padding: 0 0 45px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.form__fieldset--radio {
  padding: 0 0 15px 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 34px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 45px 0;
  }
}

.form__fieldset--checkbox {
  padding: 0 0 27px 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 12px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 65px 0;
  }
}

.form__fieldset--textarea {
  @media (max-width: $mobile-width) {
    padding: 0 0 51px 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 43px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 38px 0;
  }
}

.form__block {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    gap: 58px;
    position: relative;
    margin: 0;
    padding: 0 0 50px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 56px 0;
    gap: 100px;
  }
}

@media (min-width: $tablet-width) {
  .form__block::before {
    display: block;
    content: "";
    position: absolute;
    width: 1px;
    height: 90%;
    background-color: $darkGray;
    background-repeat: no-repeat;
    top: 0;
    left: 50%;
  }
}
