.fieldset {
  margin: 0;
  padding: 0;
  border: none;

  @media (max-width: $mobile-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100vw;
      top: -30px;
      left: -20px;
      right: 0;
      bottom: 0;
      background-color: #e5e5e5;
    }
  }
}

.fieldset__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }
}

.form__fieldset {
  @media (max-width: $mobile-width) {
    padding-bottom: 45px;
  }
}

.form__fieldset--radio {
  @media (max-width: $mobile-width) {
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 30px;
  }
}

.form__fieldset--checkbox {
  @media (min-width: $desktop-width) {
    padding-bottom: 40px;
  }
}

.form__fieldset--textarea {
  @media (max-width: $mobile-width) {
    padding-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }
}

.form {
  width: 100%;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-bottom: 100px;
  }
}

.form__block {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    position: relative;
    margin-bottom: 40px;
  }
}

@media (min-width: $tablet-width) {
  .form__block::before {
    display: block;
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: $darkGray;
    background-repeat: no-repeat;
    top: 0;
    left: 50%;
  }
}

@media (min-width: $tablet-width) {
  .fieldset__title--line::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 123px;
    background-color: $darkGray;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  .fieldset__title--line::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 123px;
    background-color: $darkGray;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .fieldset__title--line::after {
    width: 280px;
  }

  .fieldset__title--line::before {
    width: 280px;
  }
}
