.info__section {
  margin-bottom: 15px;
}

.info__input {
  font-family: $font;
  height: 58px;
  border: none;
  padding: 16px;
  background-color: $gray;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.info__label {
  font-size: 14px;
  line-height: 21px;
  text-align: start;
}
