.like__count {
  font-weight: 700;
  margin-left: 10px;
}

.like__element {
  text-decoration: none;
}

.like__element::before {
  content: "";
  display: block;
  background-image: url("../../img/svg/like-icon.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    background-image: url("../../img/svg/like-icon-desctop.svg");
  }
}
