.like__count {
  font-weight: 700;
  margin-left: 10px;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.like__element {
  text-decoration: none;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
  }
}

.like__element-icon {
  fill: $black;
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    fill: $white;
    opacity: 1;
  }
}
