.main__map-block {
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.main__map-iframe {
  width: 100%;
  display: block;
  height: 350px;
  border: 0;

  &--no-js {
    display: none;
  }
}

.map-block__img {
  display: none;
  position: relative;
  cursor: pointer;

  &--no-js {
    display: block;
  }
}

.main__map-img {
  display: block;
  width: 100%;
}

.map-block__img::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.map-block__img::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #81b3d3;
  left: 50%;
  top: 51.5%;
  transform: translate(-50%);
}
