//повторяющиеся стили на разных страницах

//приветствие
.main__preview {
  position: relative;
  background-image: url("../img/logo/background-index.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: $blue;
  min-height: 389px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/logo/background-index2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/logo/background-index-desktop.png");
    min-height: 518px;
    background-position: top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/logo/background-index-desktop2x.png");
    }
  }
}

.main__preview-triangle {
  position: absolute;
  width: 100%;
  height: 57px;
  bottom: -1px;
}

.main__preview-triangle-size {
  width: 100%;
  height: 58px;
}

.main__preview-logo {
  position: relative;
  background-image: url("../img/logo/background-preview.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: $blue;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/logo/background-preview2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/logo/background-preview-tablet.png");
    min-height: 290px;
    background-position: top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/logo/background-preview-tablet2x.png");
    }
  }
}

//пролог
.main__block {
  max-width: 284px;
  padding: 0 0 10px 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 490px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 50px;
  }
}

.main__block--form {
  @media (min-width: $tablet-width) {
    padding-bottom: 110px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 68px;
  }
}

.block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  margin: 45px 14px 30px 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 55px 0 0 0;
  }
}

.block__title--catalog {
  @media (max-width: $mobile-width) {
    margin: 60px 0 25px 0;
  }

  @media (min-width: $tablet-width) {
    margin: 60px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 110px 0 0 0;
  }
}

.block__title--catalog-epilogue {
  @media (max-width: $mobile-width) {
    margin: 40px 0 35px 0;
  }
}

.block__title--form {
  @media (max-width: $mobile-width) {
    margin: 50px 0 25px 0;
  }

  @media (min-width: $tablet-width) {
    margin: 70px 0 20px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 125px 0 35px 0;
  }
}


.block__title--big {
  font-size: 21px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.block__text {
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 33px 0 40px 0;
  }
}

.block__text--catalog {
  @media (max-width: $mobile-width) {
    margin: 0 0 55px 0;
  }

  @media (min-width: $tablet-width) {
    margin: 33px 0 45px 0;
  }
}

.block__text--catalog-epilogue {
  @media (max-width: $mobile-width) {
    margin: 0 0 30px 0;
  }

  @media (min-width: $tablet-width) {
    margin: 33px 0 95px 0;
  }
}

.block__text--form {
  @media (max-width: $mobile-width) {
    margin: 0 0 43px 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}


//кнопка поиска гостиниц
.block__find {
  text-decoration: none;
  padding: 15px 40px;
  margin: 0;
  background-color: $blue;
  color: $white;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding: 15px 130px;
  }
}

.block__finds-link {
  margin: 30px 0 65px;

  @media (min-width: $tablet-width) {
    margin: 58px 0 72px;
  }

  @media (min-width: $desktop-width) {
    margin: 58px 0 83px;
  }
}

.block__find:hover {
  background-color: #669ec0;
  cursor: pointer;
}

.block__find:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.block__find:disabled {
  background-color: #e5e5e5;
}

.main__block--line {
  @media (max-width: $mobile-width) {
    position: relative;
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100vw;
      top: -20px;
      left: -20px;
      right: 0;
      bottom: 0;
      background-color: #e5e5e5;
    }
  }
}
