.overlay.overlay--no-js {
  display: none;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay__modal-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}
