.picture__block {
  @media (min-width: $tablet-width) {
    background-color: $gray;
    display: flex;
    justify-content: space-between;
    margin-top: -6px;
    padding: 22px 17px 17px 17px;

    &--grey {
      background-color: #eaeaea;
    }
  }

  @media (min-width: $desktop-width) {
    background: rgba(0, 0, 0, 0.2);
    color: $white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 17px 14px 25px;
  }
}

.picture__sign {
  text-align: left;

  @media (max-width: $mobile-width) {
    padding: 15px 0 11px 0;
  }
}

.picture__like {
  text-align: left;
  display: flex;
}

.picture__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;

  @media (min-width: $desktop-width) {
    padding-bottom: 4px;
  }
}

.picture__name {
  font-size: 14px;
  line-height: 21px;
  text-transform: none;
  margin: 0;
}

.picture__cover {
  display: flex;
  width: 100%;
  object-fit: cover;
}

.picture--big {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}
