.picture__block {
  @media (min-width: $tablet-width) {
    background-color: $gray;
    display: flex;
    justify-content: space-between;
    margin-top: -6px;

    &--grey {
      background-color: #eaeaea;
    }
  }

  @media (min-width: $desktop-width) {
    background: rgba(0, 0, 0, 0.2);
    color: $white;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.picture__sign {
  text-align: left;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.picture__like {
  text-align: left;
  display: flex;

  @media (min-width: $tablet-width) {
    padding-left: auto;
    padding-right: 20px;
    padding-top: 45px;
    padding-bottom: 10px;
  }
}

.picture__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.picture__name {
  font-size: 14px;
  line-height: 21px;
  text-transform: none;
}
