.radio__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.radio__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.radio__label {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio__label::before {
  content: "";
  width: 46px;
  height: 46px;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #f2f2f2;
}

.radio__input[type="radio"]:checked + .radio__text::after {
  position: absolute;
  content: "";
  left: 16px;
  top: 16px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
}

.radio__label:hover + .radio__label::after {
  background-color: #e5e5e5;
}

.radio__label:active {
  background-color: #d5d5d5;
}
