.radio__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  padding-left: 60px;
}

.radio {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
  height: 46px;
}

.radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio__text::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #f2f2f2;
}

.radio__input:checked + .radio__text::after {
  position: absolute;
  content: "";
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
}

.radio__text:hover {
  &::before {
    background-color: #e5e5e5;
  }
}

.radio__text:active {
  &::before {
    background-color: #d5d5d5;
  }

  &::after {
    background-color: rgba(51, 51, 51, 0.3);
  }
}

.radio__input:focus + .radio__text {
  &::before {
    background-color: #d5d5d5;
  }

  &::after {
    background-color: rgba(51, 51, 51, 0.3);
  }
}
