.services {
  @media (max-width: $mobile-width) {
    padding: 30px 18px 10px 18px;
  }

  @media (min-width: $tablet-width) {
    padding: 58px 0 56px;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 50px;
  }
}

.services-list {
  text-align: start;
  margin: 0;
  padding: 0;
  display: flex;

  @media (min-width: $tablet-width) {
    text-align: center;
    flex-direction: column;
    padding: 0 35px 0 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 22px 0 33px;
  }
}

.services-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  margin: 0 0 20px 0;


  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 0 0 25px 0;
  }
}

.services-list__text {
  color: $blackText;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 30px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 33px;
  }
}

.services-list__icon {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.services-list__block--house {
  @media (min-width: $desktop-width) {
    margin-left: -55px;
  }
}

.services-list__icon--house {
  display: inline-block;
  width: 39px;
  height: 36px;

  @media (min-width: $tablet-width) {
    height: 72px;
    width: 77px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    height: 72.4px;
    width: 79.4px;
    margin-right: 55px;
  }
}

.services-list__icon--food {
  display: inline-block;
  height: 34.9px;
  width: 40px;

  @media (min-width: $tablet-width) {
    height: 67.9px;
    width: 80.2px;
  }

  @media (min-width: $desktop-width) {
    height: 68.9px;
    width: 73px;
  }
}

.services-list__block--souvenir {
  @media (min-width: $desktop-width) {
    margin-right: -69px;
  }
}

.services-list__icon--souvenir {
  display: inline-block;
  height: 38px;
  width: 32px;

  @media (min-width: $tablet-width) {
    height: 75px;
    width: 66.5px;
    margin-left: 0;
    margin-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    height: 75px;
    width: 77.4px;
    margin-left: 60px;
    margin-bottom: 8px;
  }
}

.services-list__block {
  @media (max-width: $mobile-width) {
    padding-left: 11px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
