.services__list {
  text-align: start;
  margin: 0;
  padding: 23px 5px 25px 18px;
  display: flex;

  @media (min-width: $tablet-width) {
    text-align: center;
    flex-direction: column;
    padding: 60px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 50px;
  }
}

.list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  margin: 10px 0 0 0;


  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 0 0 15px 0;
  }
}

.list__text {
  font-size: 14px;
  line-height: 21px;
  margin: 7px 0 0 0;
  padding: 0;
}

.list-icon {
  @media (max-width: $mobile-width) {
    margin: 10px 0 0 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }
}

.list-icon--house {
  display: inline-block;
  width: 39px;
  height: 36px;

  @media (min-width: $tablet-width) {
    height: 72px;
    width: 77px;
  }

  @media (min-width: $desktop-width) {
    height: 72.4px;
    width: 79.4px;
  }
}

.list-icon--food {
  display: inline-block;
  height: 34.9px;
  width: 40px;

  @media (min-width: $tablet-width) {
    height: 67.9px;
    width: 80.2px;
  }

  @media (min-width: $desktop-width) {
    height: 68.9px;
    width: 73px;
  }
}

.list-icon--souvenir {
  display: inline-block;
  height: 38px;
  width: 32px;

  @media (min-width: $tablet-width) {
    height: 75px;
    width: 66.5px;
  }

  @media (min-width: $desktop-width) {
    height: 75px;
    width: 77.4px;
  }
}

.list__block {
  @media (max-width: $mobile-width) {
    padding-left: 7px;
  }
}
