.social__link {
  position: relative;
  text-decoration: none;
  background-color: $blue;
  height: 48px;
  width: 48px;
}

.social__link:hover {
  background-color: #669ec0;
  cursor: pointer;
}

.social__link:active {
  background-color: #5496bd;
}

.social__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #dbdbdb;
}
