.textarea__textarea {
  font-family: $font;
  border: 0;
  width: 100%;
  background-color: $gray;
  resize: none;
  height: 160px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  color: rgba(0, 0, 0, 0.3);
}
