.input-text__label {
  font-size: 14px;
  line-height: 21px;
  padding-left: 10px;
}

.input-text {
  margin-bottom: 15px;
  text-align: start;
}

.input-text__input {
  font-family: $font;
  width: 100%;
  height: 58px;
  border: none;
  padding: 16px;
  background-color: $gray;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.input-text__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input-text__input:hover {
  background-color: #e5e5e5;
}

.input-text__input:focus {
  background-color: $white;
  border: 4px solid #e5e5e5;
}
