.nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  background-color: hsl(203, 47%, 66%);
}

.site-list__item {
  padding: 15px 0;
}

.site-list__link {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 0;
}

// .header__logo {
//   position: relative;
// }

.nav__toggle {
  // position: absolute;
  padding: 0;
  margin: 17px 20px 17px 277px;
}
