.advantages__article {
  margin: 0;
  padding: 35px 20px;

  &--bg-blue {
    background-color: $blue;
  }

  &--bg-grey {
    background-color: $gray;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 20px 0;
}

.advantages__text {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 20px 0;
}

.advantages__benefits-number {
  margin: 0;
  padding: 20px 0;
}

.advantages--color {
  color: $white;
}
