.services__list {
  margin: 0;
  padding: 35px 20px;
}

.list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 20px 0;
}

.list__text {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 20px 0;
}

@media (min-width: $tablet-width) {
  .list__title {
    font-size: 21px;
  }
}
