//comment
@media (min-width: $tablet-width) {
  .causes__advantages {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__article {
    box-sizing: border-box;
    min-height: 256px;
  }

  .advantages__services {
    display: flex;
  }

  .advantages__block {
    display: flex;

    &--reverse {
      flex-direction: row-reverse;
    }

    &--triple {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
