.picture__sign {
  text-align: left;
}

.picture__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 50px;
}

.picture__name {
  font-size: 14px;
  line-height: 21px;
  text-transform: none;
  padding-left: 50px;
}

.picture__like {
  text-align: left;
  padding-left: 50px;
}

.like__count {
  font-weight: 700;
}
