*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font;
  font-size: 16px;
  line-height: 24px;
  background-color: $white;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
