//colors
$white: #ffffff;
$black: #000000;
$blue: #81b3d2;
$gray: #eeeeee;
$brown: #766357;
$darkGray: #dbdbdb;

//font
$font: "PT Sans", "Roboto";

//viewports
$mobail-width: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
