// обертка(ul)
.nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: $blue;
}

// обертка(li)
.site-list__item {
  padding: 15px 0;
}

// ссылка(a)
.site-list__link {
  color: $white;
  text-decoration: none;
  padding: 5px 0;
}

@media (min-width: $tablet-width) {
  .nav__list {
    background-color: $white;
    display: flex;
    justify-content: space-between;
  }

  .site-list__link {
    color: $black;
  }
}
