// базовые стили
@import "./base/variables.scss";
@import "./base/fonts.scss";
@import "./base/base.scss";
@import "./base/utils.scss";

// стили для шапки
@import "./blocks/header-nav.scss";
@import "./blocks/header.scss";
@import "./blocks/site-list.scss";

// стили для main
@import "./blocks/overall.scss";
@import "./blocks/advantages.scss";
@import "./blocks/services.scss";
@import "./blocks/advantages-img.scss";
@import "./blocks/causes-advantages.scss";
@import "./blocks/photo.scss";
@import "./blocks/like.scss";
@import "./blocks/main.scss";
@import "./blocks/picture.scss";
@import "./blocks/form.scss";
@import "./blocks/text.scss";
@import "./blocks/info.scss";
@import "./blocks/radio.scss";
@import "./blocks/checkbox.scss";
@import "./blocks/textarea.scss";
@import "./blocks/form-button.scss";
@import "./blocks/main-map.scss";
@import "./blocks/video.scss";
@import "./blocks/overlay.scss";

//стили для подвала
@import "./blocks/footer.scss";
@import "./blocks/social.scss";
