.social__link {
  text-decoration: none;
}

.footer__copyright {
  text-decoration: none;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
