/*временные стили для удобства работы с проектом*/

html, body {
	height: 100%;
}

footer {
	position: sticky;
	top: 100vh;
}

main {
	padding: 1em;
}

header,
footer {
	padding: 1em;
	background-color: #ccc;
}

.container {
  min-height: 100%;
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px;
  background-color: #FFFFFF;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: #F2F2F2;
  color: #242424;
  margin: 0;
}


